In [58]:
Tanzania_districts.head(3)

,Region_Nam,Region_Cod,District_C,NewDist20,geometry
0,Arusha,2,6,Arusha DC,"MULTIPOLYGON (((36.82313 -3.44493, 36.82293 -3..."
1,Arusha,2,3,Arusha MC,"POLYGON ((36.63328 -3.36609, 36.63297 -3.36625..."
2,Arusha,2,4,Karatu DC,"POLYGON ((35.89234 -3.25703, 35.88714 -3.26276..."